
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

*{
    font-family: 'Exo 2', sans-serif;
}

body{
    background-color: rgb(134, 166, 208)
}

.header{
    background-color:cornflowerblue;
    text-align: center;
}
.img {
    /* max-width: 30px;
    max-height: 30px; */

    max-width: 20%

    /* min-height:20px; */
}
